<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
  <template>
    <style>
      :host {
        display: block;
      }
      .flag {
        width: 100px;
        height: 100px;
      }
    </style>
    <div class="container">
      <div class="row">
        <<img src="https://image.flaticon.com/icons/png/128/126/126508.png" class="col-lg-8 col-xs-12 flag" alt="...">
      </div>
      <div class="row">
        <button on-click="incrementar" class="btn btn-success col-lg-4 col-xs-12" type="button" name="button">Cargar Datos</button>
        <input type="text" placeholder="[[prop3]]" name="" value="{{prop1::input}}">
        <input type="text" name="" value="[[prop1]]">
      </div>
      <div class="row">
        <table class="table table-striped col-lg-12 col-xs-12">
          <thead>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>APELLIDO</th>
          </thead>
          <tbody>
            <tr>
              <th>[[prop2]]</th>
              <th>Homero</th>
              <th>Simpson</th>
            </tr>
            <tr>
              <th>2</th>
              <th>Auto</th>
              <th>Man</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class miVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String
          },
          prop2: {
            type: Number,
            value: 999
          },
          prop3: {
            type: String,
            value: "Indique su usuario"
          }
        };
      }
      incrementar(){
        this.prop2 = this.prop2 + 1;
        console.log(this.prop1);
        console.log(this.prop2);
      }
    }

    window.customElements.define(miVisor.is, miVisor);
  </script>
</dom-module>
